@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
:root{
    --marrom_principal: #5B3A29;
    --bege_claro:#D99A2D;
    --acento_mostarda:#F6EFE6;
    --texto_escuro:#2B2B2B;
}
body{
    background-color:var(--acento_mostarda);
}
#hero{
     width:90%;
     height: 700px;
     margin: auto;
     margin-top: 2%;
    background: white url(../imagens/pexels-polina-tankilevitch-4109744.jpg) center no-repeat scroll;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.571);

    h1, h2{
        color: var(--acento_mostarda);
    
    }
    
    h1{
        text-align: center;
        margin-top: 20px;
        font-family: "Playfair Display", serif;
        font-size: 3em;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.748);
        color: #ddd2c3;
         
    }
    h2{
        font-family: "Playwrite DE SAS", cursive;
        font-size: 1.5em;
        text-align: center;
        text-shadow: 0px 0px 3px black;
        color: var(--acento_mostarda);
    }
   
    
  
}
#btn-hero{
    display: flex;
    margin: auto;
    padding: 10px 50px ;
    font-size: 1.3em;
    margin-top: 50px;
    border: none;
    box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.656);
   
}
#principal{
    margin:0px 10px 0px 10px ;
}
 #logo-hero{
   margin-left: 10%;
    margin-top: 150px;
    font-size: 50px;
    color: var(--bege_claro);
 }




 #about{
    background-color: var(--acento_mostarda);
    margin:20px;
    height: 500px;
    display: flex;
 

    #nascer{
        background-color: var(--marrom_principal);
        width: 50%;
        height: 400px;
        border-radius: 15px;
        margin-right: 5px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.637);
    }

    #graos{
        background: white url(../imagens/café2.jpg) center no-repeat scroll;
        background-size: cover;
        width: 50%;
        height: 400px;
        border-radius: 15px;
        margin-left: 5px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.637);
        
         p{
            color: var(--acento_mostarda);
            margin: 30px;
            display: none;
            text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.619);
            font-size: 1.5em;
            text-align: justify;
            
            
        }
        &:hover{
          
            p{
                display: block;
                
            }
             
        }
       
    }

    #nascer{
         background: white url(../imagens/livro.jpg) center no-repeat scroll;
        background-size: cover;
        width: 50%;
        height: 80%;
        border-radius: 15px;
        margin-left: 5px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.637);
        
         p{
            color: var(--acento_mostarda);
            margin: 30px;
            display: none;
            text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.619);
            font-size: 1.5em;
            text-align: justify;
            
            
        }
        &:hover{
          
            p{
                display: block;
                
            }
             
        }
    }

 }
     #abt{
        margin-top: 100px;
        text-align: center;
        transition-duration: 1s;
    }
    #dif{
        
        background-color: #d59473;
        padding: 90px 20px 90px 20px;
        
        display: flex;

    }

    #card1, #card2, #card3{
        margin: 10px;
        border-radius: 30px;
    }

    #card1{
        background:#5B3A29 url(../imagens/graos.jpg) no-repeat scroll ;
        background-size: cover;
        width: 33.3% ;
        height: 500px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.475);
 
    
        p{
            display: none;
            color: #d0cac1;
            font-size: 2em;
           text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.459);
           margin: 20px;
           text-align: justify;
        }

        h2{
            margin-top: 20px;
            color: var(--acento_mostarda);
            text-align: center;
        }

        &:hover{
            width: 50%;
            P{
                display: block;
            }
            background: var(--marrom_principal) ;
            
           
        }
        transition-duration: .5s;
    }

  
    #card2{
        background:#5B3A29 url(../imagens/bolo.jpg) ;
        background-size: cover;
        width: 33.3% ;
        height: 500px;

        p{
            display: none;
            color: #5B3A29;
            font-size: 2em;
           text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.137);
           margin: 20px;
           text-align: justify
        }

        h2{
            margin-top: 20px;
            color: var(--acento_mostarda);
            text-align: center;
        }
         &:hover{
            width: 50%;
             P{
                display: block;
            }
            background: #d8a44a ;

        h2{
            color: #2B2B2B;
        }
            
        }
        transition-duration: .5s;
    }
    #card3{
        background:#5B3A29 url(../imagens/lugar.jpg) ;
        background-size: cover;
        width: 33.3% ;
        height: 500px;

        p{
            display: none;
            color: #5B3A29;
            font-size: 2em;
           text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.137);
           margin: 20px;
           text-align: justify
            
        }

        h2{
            margin-top: 20px;
            color: var(--acento_mostarda);
            text-align: center;
        }
         &:hover{
            width: 50%;
            P{
                display: block;
            }
            background: var(--acento_mostarda) ;

        h2{
            color: #2B2B2B;
        }
        }
        transition-duration: .5s;
    }

    #cardapio{
        background-color: #d59473;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
      .produto{
        display: inline-block;
        background-color: white;
        width: 200px;
        height: 300px;
        margin: 10px;

        
      }
    }

     @media screen and (max-width: 480px){
    
    #logo-hero{
        margin-top: 60px;
        margin-left: 4%;
        font-size: 45px;
    }

    #hero{
        height: 500px;
        h1{
            text-align: center;
            font-size: 2em;
        }
    }
   
    #about{
        display: flex;

        #nascer{
            &:hover{
                width: 90%;
                p{
                    font-size: 1.2em;
                }
            }
        }

        #graos{
            p{
                font-size: 1.3em;
            }
            &:hover{
                width: 90%;
            }
        }


        

    }

    #dif{
        display: flex;
        flex-direction: column;
        #card1, #card2, #card3{
            margin: auto;
            margin-top: 20px;
            width: 90%;
        }
    }
    
 }

 @media screen and (min-width:1024px){
    #logo-hero{
        font-size: 5em;
        margin-top: 20%;
       margin-left: 35%;
    }

    #about{
        height: 800px;

        #graos{
            height: 80%;
            P{
                font-size: 3em;
            }
        }
        #nascer{
            p{
                font-size: 3em;
            }
        }
        
    }


 }